<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Policy Master</div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/DB/PM/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- navigation start -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DOI / DB </li>
        <li class="breadcrumb-item active" aria-current="page">Policy Master</li>
      </ol>
    </nav>
    <!-- navigation ends -->



    <div class="panel-group">
      <!-- Master Policy Form-->
      <form [formGroup]="masterPolicyForm">

        <div class="box box-primary">

          <div class="box-header">Policy Master</div>

          <div class="box-body">

            <div class="row">

              <!-- reference no -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="referenceNo" placeholder="Reference No">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="referenceNoCtrl" [placeholderLabel]="'Find Reference No...'"
                        [noEntriesFoundLabel]="'No matching Reference No found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of referenceNoList |
                        filterSelectInput:referenceNoCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <!-- reference date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="referenceDate" formControlName="referenceDate"
                    placeholder="Reference Date">
                  <mat-datepicker-toggle matSuffix [for]="referenceDate"></mat-datepicker-toggle>
                  <mat-datepicker #referenceDate [disabled]="true"></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- policy no -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="policyNo" placeholder="Policy No." numbersOnly readonly>
                </mat-form-field>
              </div>

              <!-- institute type -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="instituteType" placeholder="Institute Type">
                </mat-form-field>
              </div>

              <!-- institute name -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="instituteName" placeholder="Institute Name">
                </mat-form-field>
              </div>

              <!-- district  -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="district" placeholder="District">
                </mat-form-field>
              </div>

              <!-- taluka -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="taluka" placeholder="Taluka">
                </mat-form-field>
              </div>

              <!-- address -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="address" placeholder="Address">
                </mat-form-field>
              </div>

              <!-- contact no -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="contactNo" placeholder="Contact No.">
                </mat-form-field>
              </div>

              <!-- email id -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="emailId" placeholder="Email ID">
                </mat-form-field>
              </div>

              <!-- start date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start Date"
                    [max]="masterPolicyForm.controls.endDate.value">
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- end date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date"
                    [min]="masterPolicyForm.controls.startDate.value">
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- premium amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="premiumAmount" placeholder="Premium Amount">
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>
      </form>

      <mat-tab-group mat-stretch-tabs>

        <!-- policy details -->
        <mat-tab label="Policy Details">

          <div class="mat-elevation-z8 mt-2">

            <!-- table start -->
            <table mat-table [dataSource]="dataSource" width="100%" aria-describedby="policyProposalLetter">

              <!-- policy -->
              <ng-container matColumnDef="heading1">
                <th mat-header-cell *matHeaderCellDef scope="row" [attr.colspan]="4">Policy</th>
              </ng-container>

              <!-- add on -->
              <ng-container matColumnDef="heading2">
                <th mat-header-cell *matHeaderCellDef scope="row" [attr.colspan]="4">Add-On</th>
              </ng-container>

              <!-- Sr. No. Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                <td mat-cell *matCellDef="let element; let i = index;" class="centerAlign">
                  {{ i + 1 }} </td>
                <td mat-footer-cell *matFooterCellDef>Total</td>
              </ng-container>

              <!-- Type of Policy Column -->
              <ng-container matColumnDef="policyType">
                <th mat-header-cell *matHeaderCellDef scope="row">Type of Policy</th>
                <td mat-cell *matCellDef="let element">
                  {{element.policyType}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Sum Insured Column -->
              <ng-container matColumnDef="sumInsured">
                <th mat-header-cell *matHeaderCellDef scope="row">Sum Insured</th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{element.sumInsured}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- premium Amount Column -->
              <ng-container matColumnDef="premiumAmountPolicy">
                <th mat-header-cell *matHeaderCellDef scope="row">Premium Amount</th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{element.premiumAmountPolicy  | number:'0.2-2'}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="rightAlign">{{calculatePremiumAmount()  | number:'0.2-2'}}
                </td>
              </ng-container>

              <!-- Types Column -->
              <ng-container matColumnDef="types">
                <th mat-header-cell *matHeaderCellDef scope="row">Types</th>
                <td mat-cell *matCellDef="let element">
                  {{element.types}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Coverage Column -->
              <ng-container matColumnDef="coverage">
                <th mat-header-cell *matHeaderCellDef scope="row">Coverage</th>
                <td mat-cell *matCellDef="let element">
                  {{element.coverage}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Unit Column -->
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef scope="row">Unit</th>
                <td mat-cell *matCellDef="let element">
                  {{element.unit}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- premium Amount  Add on Column -->
              <ng-container matColumnDef="premiumAmountAddOn">
                <th mat-header-cell *matHeaderCellDef scope="row">Premium Amount</th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{element.premiumAmountAddOn  | number:'0.2-2'}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="rightAlign">
                  {{calculatePremiumAmountAddOn()  | number:'0.2-2'}}</td>
              </ng-container>

              <!-- Custom Header Section Of table -->
              <tr mat-header-row *matHeaderRowDef="['heading1','heading2']"></tr>
              <!-- Header Section Of table -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- Data Fetch From .TS File to table -->
              <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;"></tr>
              <!-- Footer Section Of table -->
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

            </table>
            <!-- table end -->

            <!-- paginator -->
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          </div>

          <div class="row mt-2">
            <!-- total amount -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Total" [ngModelOptions]="{standalone: true}" [(ngModel)]="totalAmount"
                  [value]="totalAmount" readonly>
              </mat-form-field>
            </div>

            <!-- discount -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Discount" [ngModelOptions]="{standalone: true}" [(ngModel)]="discountValue"
                  [value]="discountValue" readonly>
              </mat-form-field>
            </div>

            <!-- taxes -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Taxes (18%)" [ngModelOptions]="{standalone: true}" [(ngModel)]="taxes"
                  [value]="taxes" readonly>
              </mat-form-field>
            </div>

            <!-- grand total -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Grand Total" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="grandTotalValue" [value]="grandTotalValue" readonly>
              </mat-form-field>
            </div>
          </div>

        </mat-tab>
        <!-- policy details end -->

        <!-- payment details start  -->
        <mat-tab label="Payment Details">

          <form [formGroup]="paymentDetailsForm">
            <div class="box box-primary">
              <div class="box-header">
                Payment Details
              </div>

              <div class="box-body">

                <div class="row">

                  <!-- challan no -->
                  <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="challanNo" numbersOnly placeholder="Challan No." readonly>
                    </mat-form-field>
                  </div>

                  <!-- challan date  -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="challanDate" formControlName="challanDate"
                        placeholder="Challan Date" [max]="todayDate" readonly>
                      <mat-datepicker-toggle matSuffix [for]="challanDate"></mat-datepicker-toggle>
                      <mat-datepicker #challanDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <!-- type of payment -->
                  <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="paymentType" numbersOnly placeholder="Type of Payment">
                    </mat-form-field>
                  </div>

                  <!-- payment date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="paymentDate" formControlName="paymentDate"
                        placeholder="Payment Date" [max]="todayDate">
                      <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
                      <mat-datepicker #paymentDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <!-- premium amount -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="premiumAmount" placeholder="Premium Amount">
                    </mat-form-field>
                  </div>

                  <!-- cheque bank name -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="bankName" placeholder="Cheque Bank Name">
                    </mat-form-field>
                  </div>

                  <!-- cheque date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="chequeDate" formControlName="chequeDate"
                        placeholder="Cheque Date">
                      <mat-datepicker-toggle matSuffix [for]="chequeDate"></mat-datepicker-toggle>
                      <mat-datepicker #chequeDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <!-- cheque no -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="chequeNo" placeholder="Cheque No" numbersOnly maxlength="7">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
          </form>

        </mat-tab>
        <!-- payment details end -->

      </mat-tab-group>

      <!-- common button start -->
      <div class="form-action-button">

        <button type="button" mat-raised-button (click)="goToListing()" color="warn" title="Listing">
          <i class="material-icons" aria-hidden="true" title="Listing">
            list
          </i>
          Listing
        </button>

      </div>
      <!-- common button end -->

    </div>

  </div>
</div>