<div class="container">
  <div class="form-wrapper">
    <!-- Screen Name and Date -->
    <div class="heading-section ng-star-inserted">
      <div>Guarantee organizations Master</div>
      <div class="font-heading"><strong>Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DMO</li>
        <li class="breadcrumb-item active" aria-current="page">Guarantee organizations Master</li>
      </ol>
    </nav>

    <!-- Guarantee organizations Master -->
    <div class="panel-group">
      <div class="box box-primary">
        <div class="box-header">Guarantee organizations Master</div>
        <div class="box-body" [ngClass]="{'disabled-style': isViewOnly}">
          <form [formGroup]="guaranteeOrganizationsMasterForm">

            <div class="row">

              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select formControlName="departmentName" placeholder="Department Name" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="departmentNameCtrl"
                        [placeholderLabel]="'Select Department Name...'"
                        [noEntriesFoundLabel]="'no matching Department Name found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of departmentNameList | filterSelectInput:departmentNameCtrl.value"
                      [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="guaranteeOrganizationsMasterForm.controls.departmentName.touched && guaranteeOrganizationsMasterForm.controls.departmentName.errors">
                    <mat-error *ngIf="guaranteeOrganizationsMasterForm.controls.departmentName.errors.required">
                      {{errorMessages.DEPARTMENT_NAMEE}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="nameOfOrganization" placeholder="Name Of Organization" required />
                  <div class="error-wrapper"
                    *ngIf="guaranteeOrganizationsMasterForm.controls.nameOfOrganization.touched && guaranteeOrganizationsMasterForm.controls.nameOfOrganization.errors">
                    <mat-error *ngIf="guaranteeOrganizationsMasterForm.controls.nameOfOrganization.errors.required">
                      {{errorMessages.NAME_OF_ORGANIZATION}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>
        <!-- End Guarantee organizations Master -->
      </div>
    </div>
    <!-- Common Button -->
    <div class="form-action-button">
      <button type="submit" mat-raised-button color="primary" [disabled]="!guaranteeOrganizationsMasterForm.valid " [ngClass]="{'disabled-style': isViewOnly}" (click)="saveGuraranteeOrgMaster()">
        <i class="material-icons" aria-hidden="true" title="Save">save</i>
        Save</button>
      <button type="button" mat-raised-button color="warn" title="Listing"
        (click)="gotolisting()">
        <i class="material-icons" title="Listing" aria-hidden="true">
          list
        </i>
        Listing
      </button>
    </div>
    <!-- End Common Button -->




  </div>
</div>