<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Proposal for Burglary & Housebreaking Policy </div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/DB/BHP/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- navigation start -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DOI / DB </li>
        <li class="breadcrumb-item active" aria-current="page">Proposal for Burglary & Housebreaking Policy</li>
      </ol>
    </nav>
    <!-- navigation ends -->


    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Proposal Details">
        <div class="panel-group">
          <form [formGroup]="standardFirePolicyForm">
            <!-- Policy Details -->
            <div class="box box-primary">
              <div class="box-header">Proposer Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="proposerName" placeholder="Name of Proposer">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="address" placeholder="Address">
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="phoneNo" placeholder="Phone No">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="emailId" placeholder="Email ID">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="businessOfProposer" placeholder="Business Of Proposer">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="firmCapitalPaidUp" placeholder="Firm's Capital Paid Up">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="issuedPolicy"
                        placeholder="Policy to be issued in favour of (list out all the parties who have insurable interest) Including the financial institutions">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="insuranceFromDate" formControlName="insuranceFromDate"
                        placeholder="Insurance From Date">
                      <mat-datepicker-toggle matSuffix [for]="insuranceFromDate"></mat-datepicker-toggle>
                      <mat-datepicker #insuranceFromDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="insuranceToDate" formControlName="insuranceToDate"
                        placeholder="Insurance To Date">
                      <mat-datepicker-toggle matSuffix [for]="insuranceToDate"></mat-datepicker-toggle>
                      <mat-datepicker #insuranceToDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>
          </form>
          <!-- Burglary & Housebreaking Policy  Form-->
          <form [formGroup]="burglaryHouseBreakingPolicyForm">

            <div class="box box-primary">
              <div class="box-header">Business Premises Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="tradeOfOccupation" placeholder="Trade of Occupation">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="address"
                        placeholder="Address of the premises where property is kept or stored">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Description of Premises</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="descriptionOfPremises" placeholder="Description of Premises">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="descriptionOfPremisesCtrl"
                            [placeholderLabel]="'Find Description of Premises...'"
                            [noEntriesFoundLabel]="'No matching Description of Premises found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of descriptionOfPremisesList |
                        filterSelectInput:descriptionOfPremisesCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="soleOccupier" placeholder="Are you the sole occupier?"
                        #soleOccupierValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="soleOccupierCtrl"
                            [placeholderLabel]="'Find Are you the sole occupier?...'"
                            [noEntriesFoundLabel]="'No matching Are you the sole occupier? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of soleOccupierList |
                        filterSelectInput:soleOccupierCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="soleOccupierValue.value == '2'">
                    <mat-form-field>
                      <input matInput formControlName="otherwiseOccupied"
                        placeholder="Describe how premises are otherwise occupied">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="stateRentalPerAnnum" placeholder="State Rental per Annum">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="premisesOccupationDuration"
                        placeholder="How long have the premises been occupied by you?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="premisesRoberryAttempt"
                        placeholder="Are the premises left occupied at any time?" #premisesLeftUnOccupiedValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="premisesLeftUnOccupiedCtrl"
                            [placeholderLabel]="'Find Are the premises left occupied at any time?...'"
                            [noEntriesFoundLabel]="'No matching Are the premises left occupied at any time? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of premisesLeftUnOccupiedList |
                        filterSelectInput:premisesLeftUnOccupiedCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="premisesLeftUnOccupiedValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="unOccupiedHowLong" placeholder="How long and how often ?">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Burglary Safety Check</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="burglaryRasistingSafes"
                        placeholder="Are all valuables secured in Burglar-resisting safes when premises are closed?"
                        #burglaryRasistingSafesValues>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="burglaryRasistingSafesCtrl"
                            [placeholderLabel]="'Find Are all valuables secured in Burglar-resisting safes when premises are closed?...'"
                            [noEntriesFoundLabel]="'No matching Are all valuables secured in Burglar-resisting safes when premises are closed? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of burglaryRasistingSafesList |
                        filterSelectInput:burglaryRasistingSafesCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="burglaryRasistingSafesValues.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="safeMakerName" placeholder="Name of maker of safe">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="burglaryRasistingSafesValues.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="safeCost" placeholder="Safe Cost">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="burglaryRasistingSafesValues.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="dimensionOfSafe" placeholder="Dimension of the safe">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="wallFixedFloor" placeholder="Is it fixed in the wall or on floor?"
                        #wallFixedFloor>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="wallFixedFloorCtrl"
                            [placeholderLabel]="'Find Is it fixed in the wall or on floor?...'"
                            [noEntriesFoundLabel]="'No matching Is it fixed in the wall or on floor? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of wallFixedFloorList |
                        filterSelectInput:wallFixedFloorCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="wallFixedFloor.value == '2'">
                    <mat-form-field>
                      <input matInput formControlName="keptHow" placeholder="How is it kept?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="noOfKeys" placeholder="Number of keys">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="keyHolder" placeholder="Who held key?">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>


            <div class="box box-primary">
              <div class="box-header">Doors & Windows Safety Check</div>
              <div class="box-body">

                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="externalDoorSafety"
                        placeholder="How external doors on ground-floor and basement safety ensured?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="frontBackWindows"
                        placeholder="How front and back windows on ground-floor and basement safety ensured?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="skyLightTrapDoors"
                        placeholder="How skylights and trap doors safety ensured?">
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Stock and Sale Book Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="stockSalesBook" placeholder="Are stock and sale book kept?"
                        #stockSalesBook>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="stockSalesBookCtrl"
                            [placeholderLabel]="'Find Are stock and sale book kept?...'"
                            [noEntriesFoundLabel]="'No matching Are stock and sale book kept? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of stockSalesBookList |
                              filterSelectInput:stockSalesBookCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="stockSalesBookFrequency"
                        placeholder="How frequently stock and sale book entered ?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="stockSalesBookNightDeposit"
                        placeholder="Where stock and sale book stored at night ?">
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Previous Robbery Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="premisesRoberryAttempt"
                        placeholder="Have the premises entered at any time by theives or any such attempts?"
                        #premisesRoberryAttemptValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="premisesRoberryAttemptCtrl"
                            [placeholderLabel]="'Find Have the premises entered at any time by theives or any such attempts?...'"
                            [noEntriesFoundLabel]="'No matching Have the premises entered at any time by theives or any such attempts? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of premisesRoberryAttemptList |
                        filterSelectInput:premisesRoberryAttemptCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="premisesRoberryAttemptValue.value == '1'">
                    <mat-form-field>
                      <input matInput [matDatepicker]="roberryDate" formControlName="roberryDate"
                        placeholder="Roberry Date">
                      <mat-datepicker-toggle matSuffix [for]="roberryDate"></mat-datepicker-toggle>
                      <mat-datepicker #roberryDate></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="premisesRoberryAttemptValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="roberryAmountLoss" placeholder="Amount Loss in Roberry">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="premisesRoberryAttemptValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="robberyAccessGained" placeholder="How was access gained?">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="premisesRoberryAttemptValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="robberyPrecautions"
                        placeholder="Precautions to avoid recurrence">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="robberyLossClaim"
                        placeholder="Have you claimed upon any company or under writers for loss?"
                        #robberyLossClaimValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="robberyLossClaimCtrl"
                            [placeholderLabel]="'Find Have you claimed upon any company or under writers for loss?...'"
                            [noEntriesFoundLabel]="'No matching Have you claimed upon any company or under writers for loss? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of robberyLossClaimList |
                        filterSelectInput:robberyLossClaimCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="robberyLossClaimValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="nameOfCompanyForLossClaim"
                        placeholder="Name of Company or under writers">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Previous Policy Proposal Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="previouslyProposedInsurance"
                        placeholder="Have you ever proposed for burglary Insurance to any Company or underwriters?"
                        #previouslyProposedInsuranceValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="previouslyProposedInsuranceCtrl"
                            [placeholderLabel]="'Find Have you ever proposed for burglary Insurance to any Company or underwriters?...'"
                            [noEntriesFoundLabel]="'No matching Have you ever proposed for burglary Insurance to any Company or underwriters? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of previouslyProposedInsuranceList |
                        filterSelectInput:previouslyProposedInsuranceCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="previouslyProposedInsuranceValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="nameOfCompanyForProposal"
                        placeholder="Name of Company or under writers">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="proposalAccepted"
                        placeholder="Was the proposal accepted or declined ?" #proposalAcceptedValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="proposalAcceptedCtrl"
                            [placeholderLabel]="'Find Was the proposal accepted or declined ?...'"
                            [noEntriesFoundLabel]="'No matching Was the proposal accepted or declined ? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of proposalAcceptedList |
                        filterSelectInput:proposalAcceptedCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="renewalAcceptance"
                        placeholder="Has the renewal of your Insurance ever been declined or not invited?"
                        #renewalAcceptanceValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="renewalAcceptanceCtrl"
                            [placeholderLabel]="'Find Has the renewal of your Insurance ever been declined or not invited?...'"
                            [noEntriesFoundLabel]="'No matching Has the renewal of your Insurance ever been declined or not invited? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of renewalAcceptanceList |
                        filterSelectInput:renewalAcceptanceCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="renewalAcceptanceValue.value == '1'">
                    <mat-form-field>
                      <input matInput formControlName="nameOfPersonDeclinedRenewal"
                        placeholder="Name of person who declined the renewal">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="increasedRate" placeholder="Has an increased rate been required?">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="increasedRateCtrl"
                            [placeholderLabel]="'Find Has an increased rate been required?...'"
                            [noEntriesFoundLabel]="'No matching Has an increased rate been required? found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of increasedRateList |
                        filterSelectInput:increasedRateCtrl.value" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Stock Value</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="totalValue" placeholder="Total Value of Stock-in Trade">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="fireInsuredStockAmount"
                        placeholder="Amount for which stock is insured against fire">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="nameOfCompany" placeholder="Name of Company">
                    </mat-form-field>
                  </div>


                </div>
              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">Particulars of Property</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-12">
                    <!-- table start -->
                    <table mat-table [dataSource]="dataSource" width="100%" aria-describedby="particularsOfProperty">

                      <!-- particulars -->
                      <ng-container matColumnDef="particulars">
                        <th mat-header-cell *matHeaderCellDef scope="row"></th>
                        <td mat-cell *matCellDef="let element">
                          {{element.particulars}}
                        </td>
                      </ng-container>

                      <!-- Sum Insured -->
                      <ng-container matColumnDef="sumInsured">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Sum Insured</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.sumInsured" [ngModelOptions]="{standalone:true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Rate Percent-->
                      <ng-container matColumnDef="ratePercent">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Rate Percent</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.ratePercent" [ngModelOptions]="{standalone:true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Premium -->
                      <ng-container matColumnDef="premium">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Premium</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [value]="total(element.sumInsured , element.ratePercent)">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Header Section Of table -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <!-- Data Fetch From .TS File to table -->
                      <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;"></tr>

                    </table>
                    <!-- table end -->
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="total" placeholder="Total">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="amountPremium" placeholder="Amount Premium">
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>

            <!-- Premium Detail -->
            <div class="box box-primary">
              <div class="box-header">Premium Detail</div>
              <div class="box-body">
                <div class="row">
                  <!-- Loan amount -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput type="text" maxlength="50" placeholder="Sum Insured" numbersOnly
                        (keyup)="setFieldVal()" formControlName="sumInsured" required>
                      <div class="error-wrapper"
                        *ngIf="burglaryHouseBreakingPolicyForm.controls.sumInsured.touched && burglaryHouseBreakingPolicyForm.controls.sumInsured.errors">
                        <mat-error *ngIf="burglaryHouseBreakingPolicyForm.controls.sumInsured.errors.required">
                          {{ errorMessage.SUMINSURED }}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput type="text" placeholder="Rate" formControlName="rate" (keyup)="setFieldVal()"
                        required decimalLimitTwoOnly>
                      <div class="error-wrapper"
                        *ngIf="burglaryHouseBreakingPolicyForm.controls.rate.touched && burglaryHouseBreakingPolicyForm.controls.rate.errors">
                        <mat-error *ngIf="burglaryHouseBreakingPolicyForm.controls.rate.errors.required">
                          {{ errorMessage.RATE }}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>
  
                  <!-- Insurance premium -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput type="text" placeholder="Insurance premium" maxlength="50" numbersOnly
                        formControlName="insurance" required readonly>
                      <div class="error-wrapper"
                        *ngIf="burglaryHouseBreakingPolicyForm.controls.insurance.touched && burglaryHouseBreakingPolicyForm.controls.insurance.errors">
                        <mat-error *ngIf="burglaryHouseBreakingPolicyForm.controls.insurance.errors.required">
                          {{ errorMessage.INSURANCE }}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="discpPerc" placeholder="Discount (%)" percentageOnly>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="discAmt" placeholder="Discount Amount" readonly>
                    </mat-form-field>
                  </div>
  
                  <!-- <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="loadAmt" placeholder="Loading Charge Amount" (keyup)="setFieldVal()"
                       decimalLimitTwoOnly>
                    </mat-form-field>
                  </div> -->
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="totAddPre" placeholder="Total Add-on premium" readonly>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="totPre" placeholder="Total Premium" readonly numberDotOnly>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="gstPerc" placeholder="GST (%)" percentageOnly>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="gstAmt" placeholder="GST Amount" readonly>
                    </mat-form-field>
                  </div>
  
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="payPre" placeholder="Payable Premium" numberDotOnly readonly>
                    </mat-form-field>
                  </div>  
                </div>
  
              </div>
            </div>

            <!-- RI Details -->
            <div class="box box-primary">
              <div class="box-header">RI Details</div>
              <div class="box-body">

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="riReq" placeholder="RI Required" #riReqVal required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="riReqCtrl"
                            [placeholderLabel]="'Find RI Required ...'"
                            [noEntriesFoundLabel]="'No matching RI Required'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of riReqList | filterSelectInput:riReqCtrl.value"
                          [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    <div class="error-wrapper"
                      *ngIf="burglaryHouseBreakingPolicyForm.controls.riReq.touched && burglaryHouseBreakingPolicyForm.controls.riReq.errors">
                      <mat-error *ngIf="burglaryHouseBreakingPolicyForm.controls.riReq.errors.required">
                        {{ errorMessage.RI }}
                      </mat-error>
                    </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12" *ngIf="riReqVal.value=='1'">
                    <!-- table start -->
                    <table mat-table [dataSource]="dataSourceRi" width="100%" aria-describedby="riDetails">

                      <!-- RI company name -->
                      <ng-container matColumnDef="riCompName">
                        <th mat-header-cell *matHeaderCellDef scope="row">RI company name</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.riCompName" [ngModelOptions]="{standalone:true}">
                          </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>Total</td>
                      </ng-container>

                      <!-- RI branch office -->
                      <ng-container matColumnDef="riOff">
                        <th mat-header-cell *matHeaderCellDef scope="row">RI branch office</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.riOff" [ngModelOptions]="{standalone:true}">
                          </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- RI share  -->
                      <ng-container matColumnDef="riShare">
                        <th mat-header-cell *matHeaderCellDef scope="row">RI share %</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.riShare" [ngModelOptions]="{standalone:true}" percentageOnly>
                          </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Ri Amount -->
                      <ng-container matColumnDef="riAmt">
                        <th mat-header-cell *matHeaderCellDef scope="row">Ri Amount</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width" class="rightAlign">
                            <input matInput [(ngModel)]="element.riAmt" [ngModelOptions]="{standalone:true}" decimalLimitTwoOnly>
                          </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="rightAlign">
                          {{directiveObj.columnTotal(dataSourceRi, 'riAmt') | number:'1.2-2'}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                        <td mat-cell *matCellDef="let  element; let i=index">
                          <table class="iconTable" aria-describedby="actionBtn">
                            <tbody>
                              <tr>
                                <td width="30">
                                  <i class="material-icons  plus add" aria-hidden="true"
                                    *ngIf="(i  ==  dataSourceRi.data.length -  1)" (click)="addColumnRI();">
                                    add
                                  </i>
                                </td>
                                <td width="30">
                                  <i class="material-icons plus delete" aria-hidden="true"
                                    *ngIf="(dataSourceRi.data.length>  1)" (click)="deleteColumnRI(dataSourceRi,i)">
                                    delete
                                  </i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Header Section Of table -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsRi"></tr>
                      <!-- Data Fetch From .TS File to table -->
                      <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumnsRi;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumnsRi"></tr>

                    </table>
                    <!-- table end -->
                  </div>

                </div>
              </div>
            </div>

          </form>
        </div>
      </mat-tab>
      <mat-tab label="Payment Details">
        <form [formGroup]="premiumDetailsForm">
          <div class="box box-primary">
            <div class="box-header">Payment Detail</div>
            <div class="box-body">
              <div class="row">
                <!-- Payment Mode -->
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select name="paymentMode" (selectionChange)="ontoken($event)" formControlName="paymentMode"
                      required placeholder="Payment Mode">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="paymentModetrl"
                          [placeholderLabel]="'Select Payment Mode ...'"
                          [noEntriesFoundLabel]="'no matching Tange type found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let PM of paymentMode_list | filterSelectInput : paymentModetrl.value : 'viewValue'"
                        [value]="PM.value" [matTooltip]="PM.viewValue">
                        {{PM.viewValue}}
                      </mat-option>
                    </mat-select>
                    <div class="error-wrapper"
                      *ngIf="premiumDetailsForm.controls.paymentMode.touched && premiumDetailsForm.controls.paymentMode.errors">
                      <mat-error *ngIf="premiumDetailsForm.controls.paymentMode.errors.required">
                        {{ errorMessage.PAYMENTMODE }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="isTokentable">
                  <mat-form-field>
                    <mat-select formControlName="treasuryName" placeholder="Treasury Name">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="treasuryNameCtrl"
                          [placeholderLabel]="'Select Treasury Name ...'"
                          [noEntriesFoundLabel]="'no matching Treasury Name found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option
                        *ngFor="let item of treasuryName_list | filterSelectInput : treasuryNameCtrl.value : 'viewValue'"
                        [value]="item.value" [matTooltip]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Date of DD/cheque -->
                <div class="col-sm-3" *ngIf="!isTokentable">
                  <mat-form-field>
                    <input matInput [matDatepicker]="dateCheque" formControlName="dateCheque"
                      placeholder="Date of DD/cheque " required>
                    <mat-datepicker-toggle matSuffix [for]="dateCheque"></mat-datepicker-toggle>
                    <mat-datepicker #dateCheque></mat-datepicker>
                    <div class="error-wrapper"
                      *ngIf="premiumDetailsForm.controls.dateCheque.touched && premiumDetailsForm.controls.dateCheque.errors">
                      <mat-error *ngIf="premiumDetailsForm.controls.dateCheque.errors.required">
                        {{ errorMessage.DATECHEQUE }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
                <!-- Challan Number -->
                <div class="col-sm-3" *ngIf="!isTokentable">
                  <mat-form-field>
                    <input matInput type="text" placeholder="DD/Cheque No." maxlength="10" formControlName="ddZNo"
                      required>
                    <div class="error-wrapper"
                      *ngIf="premiumDetailsForm.controls.dateCheque.touched && premiumDetailsForm.controls.dateCheque.errors">
                      <mat-error *ngIf="premiumDetailsForm.controls.dateCheque.errors.required">
                        {{ errorMessage.DATECHEQUENO }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
                <!-- Bank Name   -->
                <div class="col-sm-3" *ngIf="!isTokentable">
                  <mat-form-field>
                    <mat-select formControlName="banName" placeholder="Bank Name" required>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="bankCtrl" [placeholderLabel]="'Select  Bank Name...'"
                          [noEntriesFoundLabel]="'no matching Bank Name found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let bl of bank_list | filterSelectInput : bankCtrl.value : 'viewValue'"
                        [value]="bl.value" [matTooltip]="bl.viewValue">
                        {{bl.viewValue}}
                      </mat-option>
                    </mat-select>
                    <div class="error-wrapper"
                      *ngIf="premiumDetailsForm.controls.banName.touched && premiumDetailsForm.controls.banName.errors">
                      <mat-error *ngIf="premiumDetailsForm.controls.banName.errors.required">
                        {{ errorMessage.BANKNAME }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
                <!-- Bank Branch   -->
                <div class="col-sm-3" *ngIf="!isTokentable">

                  <mat-form-field>
                    <mat-select formControlName="bankBranch" placeholder="Bank Branch" required>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="bankbranchCtrl"
                          [placeholderLabel]="'Select  Bank Branch...'"
                          [noEntriesFoundLabel]="'no matching Bank Branch found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let bl of bankbranch_list | filterSelectInput : bankbranchCtrl.value : 'viewValue'"
                        [value]="bl.value" [matTooltip]="bl.viewValue">
                        {{bl.viewValue}}
                      </mat-option>
                    </mat-select>
                    <div class="error-wrapper"
                      *ngIf="premiumDetailsForm.controls.bankBranch.touched && premiumDetailsForm.controls.bankBranch.errors">
                      <mat-error *ngIf="premiumDetailsForm.controls.bankBranch.errors.required">
                        {{ errorMessage.BANKBRANCH }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                </div>
                <!-- Challan Number -->
                <div class="col-sm-3" *ngIf="isTokentableOPEN">
                  <mat-form-field>
                    <input matInput type="text" placeholder="Receipt No.(BTR-5)" formControlName="receiptNo" readonly>
                  </mat-form-field>
                </div>
                <!-- Challan Date -->
                <div class="col-sm-3" *ngIf="isTokentableOPEN">
                  <mat-form-field>
                    <input matInput [matDatepicker]="receiptDate" formControlName="receiptDate"
                      placeholder=" Receipt Date (BTR-5) " readonly>
                    <mat-datepicker-toggle matSuffix [for]="receiptDate"></mat-datepicker-toggle>
                    <mat-datepicker #receiptDate></mat-datepicker>

                  </mat-form-field>
                </div>

                <!-- challan no -->
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="challanNo" numbersOnly placeholder="Challan No." readonly>
                  </mat-form-field>
                </div>

                <!-- challan date  -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="challanDate" formControlName="challanDate"
                      placeholder="Challan Date" [max]="todayDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="challanDate"></mat-datepicker-toggle>
                    <mat-datepicker #challanDate></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- Challan amount -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput formControlName="chaAmount" placeholder="Challan Amount">
                  </mat-form-field>
                </div>


                <!-- payment date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="paymentDate" formControlName="paymentDate"
                      placeholder="Payment Date" [max]="todayDate">
                    <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDate></mat-datepicker>
                  </mat-form-field>
                </div>

              </div>

            </div>
          </div>

          <div class="form-action-button">

            <button type="submit" mat-raised-button color="primary">
              <i class="material-icons" aria-hidden="true" title="Save">
                save
              </i>
              Save as Draft
            </button>

            <button mat-raised-button type="submit" class="green"><i class="material-icons">
                done
              </i> Submit
            </button>

            <button type="reset" mat-raised-button color="accent">
              <i class="material-icons" aria-hidden="true">
                restore
              </i>
              Reset
            </button>

            <button type="button" mat-raised-button class="btnClose">
              <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
              </i>
              Close
            </button>
            <button type="submit" mat-raised-button color="primary" class="btn-print">
              <i class="material-icons" aria-hidden="true">print </i> Print
            </button>

            <button type="submit" mat-raised-button color="warn">

              Generate Policy
            </button>

          </div>
        </form>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>