<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Claim Entry</div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/DB/CE/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- navigation start -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DOI / DB </li>
        <li class="breadcrumb-item active" aria-current="page">Claim Entry</li>
      </ol>
    </nav>
    <!-- navigation ends -->



    <div class="panel-group">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Claim Entry">

          <!-- Claim Entry  Form-->
          <form [formGroup]="claimEntryForm">

            <!-- Claim Entry -->
            <div class="box box-primary">
              <div class="box-header">Claim Entry</div>
              <div class="box-body">

                <div class="row">

                  <!-- proposer name -->
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="proposerName" placeholder="Proposer Name" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="proposerNameCtrl"
                            [placeholderLabel]="'Find Proposer Name...'"
                            [noEntriesFoundLabel]="'No matching Proposer Name found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of proposerNameList | filterSelectInput:proposerNameCtrl.value"
                          [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="claimEntryForm.controls.proposerName.touched && claimEntryForm.controls.proposerName.errors">
                        <mat-error *ngIf="claimEntryForm.controls.proposerName.errors.required">
                          {{ errorMessage.PROPOSER_NAME_SELECT }}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- Policy No -->
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="policyNo" placeholder="Policy No."
                        (selectionChange)="ontoken($event)" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="policyNoCtrl" [placeholderLabel]="'Find Policy No....'"
                            [noEntriesFoundLabel]="'No matching Policy No. found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of policyNoList |
                        filterSelectInput:policyNoCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="claimEntryForm.controls.policyNo.touched && claimEntryForm.controls.policyNo.errors">
                        <mat-error *ngIf="claimEntryForm.controls.policyNo.errors.required">
                          {{ errorMessage.POLICY_NO_SELECT }}
                        </mat-error>
                      </div>

                    </mat-form-field>
                  </div>


                  <!-- policy start date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="policyStartDate" formControlName="startDate"
                        placeholder="Policy Start Date">
                      <mat-datepicker-toggle matSuffix [for]="policyStartDate"></mat-datepicker-toggle>
                      <mat-datepicker #policyStartDate></mat-datepicker>
                    </mat-form-field>
                  </div>


                  <!-- policy end date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="policyEndDate" formControlName="endDate"
                        placeholder="Policy End Date">
                      <mat-datepicker-toggle matSuffix [for]="policyEndDate"></mat-datepicker-toggle>
                      <mat-datepicker #policyEndDate></mat-datepicker>
                    </mat-form-field>
                  </div>


                  <!-- address -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="address" placeholder="Address">
                    </mat-form-field>
                  </div>

                  <!-- district -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="district" placeholder="District">
                    </mat-form-field>
                  </div>

                  <!-- taluka -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="taluka" placeholder="Taluka">
                    </mat-form-field>
                  </div>

                  <!-- contact no -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="contactNo" placeholder="Contact No." numbersOnly maxlength="12">
                    </mat-form-field>
                  </div>

                  <!-- email id -->
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Email ID" formControlName="email">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <!-- Claim Entry End -->

            <!-- Policy Details -->
            <div class="box box-primary">
              <div class="box-header">Policy Details</div>
              <div class="box-body">

                <div class="row">

                  <!-- Claim Type -->
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="claimType" placeholder="Claim Type"
                        (selectionChange)="onClaimType($event)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="claimTypeCtrl" [placeholderLabel]="'Find Claim Type...'"
                            [noEntriesFoundLabel]="'No matching Claim Type found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of claimTypeList | filterSelectInput:claimTypeCtrl.value"
                          [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- Sum Insured -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="sumInsured" placeholder="Sum Insured" numbersOnly>
                    </mat-form-field>
                  </div>

                  <!-- Claim Amount -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="claimAmount" placeholder="Claim Amount" numbersOnly>
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>
            <!-- Policy Details End-->

            <!-- Details of loss/ damage -->
            <div class="box box-primary">
              <div class="box-header">Details of Loss/ Damage</div>
              <div class="box-body">
                <div class="row">

                  <!-- loss/damage date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="lossDamageDate" formControlName="lossDamageDate"
                        placeholder="Date of Loss/ Damage" [max]="todayDate" required>
                      <mat-datepicker-toggle matSuffix [for]="lossDamageDate"></mat-datepicker-toggle>
                      <mat-datepicker #lossDamageDate></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="claimEntryForm.controls.lossDamageDate.touched && claimEntryForm.controls.lossDamageDate.errors">
                        <mat-error *ngIf="claimEntryForm.controls.lossDamageDate.errors.required">
                          {{ errorMessage.LOSS_DAMAGE_DATE }}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- time -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="time" placeholder="Time (HH:MM)" maxlength="8">
                      <div class="error-wrapper"
                        *ngIf="claimEntryForm.controls.time.touched && (claimEntryForm.controls.time.errors)">
                        <mat-error *ngIf="claimEntryForm.controls.time.errors.pattern">
                          {{errorMessage.VALID_TIME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- cause of loss/ damage -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="lossDamageCause" placeholder="Cause of Loss/ Damage">
                    </mat-form-field>
                  </div>

                  <!-- cause of loss/ damage -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="lossExtend" placeholder="Extend of loss/damage">
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>
            <!-- Details of loss/ damage end -->


            <!-- Claim Entry Form End-->


            <!-- Details of property/asset -->
            <div class="box box-primary">
              <div class="box-header">Details of Property/ Asset</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-sm-12">
                    <div class="mat-elevation-z8 mt-2">
                      <!-- table start -->
                      <table mat-table [dataSource]="dataSource" matSort aria-describedby="detailsOfPropertyAsset">

                        <!-- serial No -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                          <td mat-cell *matCellDef="let element;let i= index" class="centerAlign">
                            {{i+1}}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>Total</td>
                        </ng-container>

                        <!-- description of item -->
                        <ng-container matColumnDef="itemDescription">
                          <th mat-header-cell *matHeaderCellDef scope="row">Description of Item *</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.itemDescription" value="{{element.itemDescription}}"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- item serial no -->
                        <ng-container matColumnDef="serialNo">
                          <th mat-header-cell *matHeaderCellDef scope="row">Item Serial No. *</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.serialNo" value="{{element.serialNo}}"
                                [ngModelOptions]="{standalone: true}" numbersOnly>
                            </mat-form-field>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- actual value -->
                        <ng-container matColumnDef="actualValue">
                          <th mat-header-cell *matHeaderCellDef scope="row">Actual Value *</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.actualValue" value="{{element.actualValue}}"
                                [ngModelOptions]="{standalone: true}" decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- value at the time of loss -->
                        <ng-container matColumnDef="valueAtLossTime">
                          <th mat-header-cell *matHeaderCellDef scope="row">Value at the time of loss *</th>
                          <td mat-cell *matCellDef="let element" class="rightAlign">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.valueAtLossTime" value="{{element.valueAtLossTime}}"
                                [ngModelOptions]="{standalone: true}" decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>


                        <!-- amount claim F-->
                        <ng-container matColumnDef="amountClaim">
                          <th mat-header-cell *matHeaderCellDef scope="row">Amount Claim *</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.amountClaim" [ngModelOptions]="{standalone: true}"
                                decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                          <td mat-footer-cell *matFooterCellDef class="rightAlign">
                            {{calculateClaimAmount() | number:'1.2-2'}}</td>
                        </ng-container>

                        <!-- action -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                          <td mat-cell *matCellDef="let item; let i = index" class="centerAlign">
                            <table class="iconTable" aria-describedby="actionBtn">
                              <tbody>
                                <tr>
                                  <td width="30">
                                    <i class="material-icons plus add" aria-hidden="true"
                                      *ngIf="dataSource && dataSource.data && (i == dataSource.data.length - 1)"
                                      (click)="addPropertyDetails()">
                                      add
                                    </i>
                                  </td>
                                  <td width="30">
                                    <i class="material-icons plus delete" aria-hidden="true"
                                      *ngIf="dataSource && dataSource.data && dataSource.data.length > 1"
                                      (click)="deletePropertyDetails(i)">
                                      delete
                                    </i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; let i = index;columns:columns"></tr>
                        <!-- Footer Section Of table -->
                        <tr mat-footer-row *matFooterRowDef="columns"></tr>

                      </table>
                      <!-- table end -->

                      <!-- paginator -->
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Details of Previous Loss -->
            <div class="box box-primary">
              <div class="box-header">Details of Previous Loss</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-sm-12">
                    <div class="mat-elevation-z8 mt-2">
                      <!-- table start -->
                      <table mat-table [dataSource]="dataSourceLoss" matSort aria-describedby="detailsOfPreviousLoss"
                        *ngIf="!claimdatails">

                        <!-- serial No -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                          <td mat-cell *matCellDef="let element;let i= index" class="centerAlign">
                            {{i+1}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="oldPolicyNo">
                          <th mat-header-cell *matHeaderCellDef scope="row">Old Policy No </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.oldPolicyNo" value="{{element.oldPolicyNo}}"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>
                        </ng-container>
                        <!-- claim year -->
                        <ng-container matColumnDef="claimYear">
                          <th mat-header-cell *matHeaderCellDef scope="row">Claim Year</th>
                          <td mat-cell *matCellDef="let element">

                            <mat-form-field class="example-full-width">
                              <mat-select [(ngModel)]="element.claimYear" [ngModelOptions]="{standalone: true}">
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="claimYearCtrl"
                                    [placeholderLabel]="'Find Claim Year...'"
                                    [noEntriesFoundLabel]="'no matching Claim Year found'">
                                  </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of claimYearList | filterSelectInput: claimYearCtrl.value"
                                  [value]="item.value">
                                  {{item.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                          </td>
                        </ng-container>

                        <!-- claim description -->
                        <ng-container matColumnDef="claimDescription">
                          <th mat-header-cell *matHeaderCellDef scope="row">Claim Description</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.claimDescription"
                                value="{{element.claimDescription}}" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <!-- claim amount -->
                        <ng-container matColumnDef="claimAmount">
                          <th mat-header-cell *matHeaderCellDef scope="row" style="width: 250px;"> Claim Amount
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.claimAmount" [ngModelOptions]="{standalone: true}"
                                decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <!-- action -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                          <td mat-cell *matCellDef="let item; let i = index" class="centerAlign">
                            <table class="iconTable" aria-describedby="actionBtn">
                              <tbody>
                                <tr>
                                  <td width="30">
                                    <i class="material-icons plus add" aria-hidden="true"
                                      *ngIf="dataSourceLoss && dataSourceLoss.data && (i == dataSourceLoss.data.length - 1)"
                                      (click)="addPropertyLoss()">
                                      add
                                    </i>
                                  </td>
                                  <td width="30">
                                    <i class="material-icons plus delete" aria-hidden="true"
                                      *ngIf="dataSourceLoss && dataSourceLoss.data && dataSourceLoss.data.length > 1"
                                      (click)="deletePropertyLoss(i)">
                                      delete
                                    </i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; let i = index;columns:displayedColumns"></tr>

                      </table>
                      <table mat-table [dataSource]="dataSourceLoss" matSort aria-describedby="detailsOfPreviousLoss"
                        *ngIf="claimdatails">

                        <!-- serial No -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                          <td mat-cell *matCellDef="let element;let i= index" class="centerAlign">
                            {{i+1}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="oldPolicyNo">
                          <th mat-header-cell *matHeaderCellDef scope="row">Old Policy No </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.oldPolicyNo" value="{{element.oldPolicyNo}}"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>
                        </ng-container>
                        <!-- claim year -->
                        <ng-container matColumnDef="claimYear">
                          <th mat-header-cell *matHeaderCellDef scope="row">Claim Year</th>
                          <td mat-cell *matCellDef="let element">

                            <mat-form-field class="example-full-width">
                              <mat-select [(ngModel)]="element.claimYear" [ngModelOptions]="{standalone: true}">
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="claimYearCtrl"
                                    [placeholderLabel]="'Find Claim Year...'"
                                    [noEntriesFoundLabel]="'no matching Claim Year found'">
                                  </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of claimYearList | filterSelectInput: claimYearCtrl.value"
                                  [value]="item.value">
                                  {{item.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                          </td>
                        </ng-container>

                        <!-- claim description -->
                        <ng-container matColumnDef="claimDescription">
                          <th mat-header-cell *matHeaderCellDef scope="row">Claim Description</th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="element.claimDescription"
                                value="{{element.claimDescription}}" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <!-- claim amount -->
                        <ng-container matColumnDef="claimAmount">
                          <th mat-header-cell *matHeaderCellDef scope="row" style="width: 250px;"> Claim Amount
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.claimAmount" [ngModelOptions]="{standalone: true}"
                                decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="poposerName">
                          <th mat-header-cell *matHeaderCellDef scope="row" style="width: 250px;"> Proposer Name
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.poposerName" [ngModelOptions]="{standalone: true}"
                                decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="riskType">
                          <th mat-header-cell *matHeaderCellDef scope="row" style="width: 250px;"> Risk Type
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-full-width" class="rightAlign">
                              <input matInput [(ngModel)]="element.riskType" [ngModelOptions]="{standalone: true}"
                                decimalLimitTwoOnly decimalPoint2>
                            </mat-form-field>
                          </td>
                        </ng-container>

                        <!-- action -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                          <td mat-cell *matCellDef="let item; let i = index" class="centerAlign">
                            <table class="iconTable" aria-describedby="actionBtn">
                              <tbody>
                                <tr>
                                  <td width="30">
                                    <i class="material-icons plus add" aria-hidden="true"
                                      *ngIf="dataSourceLoss && dataSourceLoss.data && (i == dataSourceLoss.data.length - 1)"
                                      (click)="addPropertyLoss()">
                                      add
                                    </i>
                                  </td>
                                  <td width="30">
                                    <i class="material-icons plus delete" aria-hidden="true"
                                      *ngIf="dataSourceLoss && dataSourceLoss.data && dataSourceLoss.data.length > 1"
                                      (click)="deletePropertyLoss(i)">
                                      delete
                                    </i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; let i = index;columns:displayedColumnss"></tr>

                      </table>
                      <!-- table end -->

                      <!-- paginator -->
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- ri details -->
            <div class="box box-primary">
              <div class="box-header">RI Details</div>
              <div class="box-body">

                <div class="row">

                  <!-- ri required -->
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="riRequired" placeholder="RI Required" required #riRequiredValue>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="riRequiredCtrl"
                            [placeholderLabel]="'Find RI Required...'"
                            [noEntriesFoundLabel]="'No matching RI Required found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of riRequiredList | filterSelectInput:riRequiredCtrl.value"
                          [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>

                    </mat-form-field>
                  </div>

                  <div class="col-sm-12" *ngIf="riRequiredValue.value == '1'">

                    <!-- table start -->
                    <table mat-table [dataSource]="dataSource1" width="100%" aria-describedby="riDetails">

                      <!-- ri name -->
                      <ng-container matColumnDef="riName">
                        <th mat-header-cell *matHeaderCellDef scope="row">RI Name *</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.riName" [ngModelOptions]="{standalone: true}"
                              (keydown.enter)="onRiNameEnter(element)">
                          </mat-form-field>
                        </td>
                      </ng-container>


                      <!-- riAddress -->
                      <ng-container matColumnDef="riAddress">
                        <th mat-header-cell *matHeaderCellDef scope="row">RI Address *</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.riAddress" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- ri share% -->
                      <ng-container matColumnDef="riShare">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">RI Share% *</th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="element.riName =='GIC'">{{riShare}}</span>
                          <mat-form-field class="example-full-width" *ngIf="element.riName !='GIC'">
                            <input matInput [(ngModel)]="element.riShare" [ngModelOptions]="{standalone: true}"
                              numbersOnly>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- RI Premium Amount -->
                      <ng-container matColumnDef="premiumAmount">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">RI Premium Amount
                        </th>
                        <td mat-cell *matCellDef="let element; let i= index;" class="rightAlign">
                          {{calculateRiPremiumAmount(element,i)}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="resPayment">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Respect To Payment
                          Made
                        </th>
                        <td mat-cell *matCellDef="let element; let i= index;" class="rightAlign">

                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.resPayment" [ngModelOptions]="{standalone: true}"
                              numbersOnly>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- payment received on -->
                      <ng-container matColumnDef="paymentReceivedOn">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Payment Received On
                          *
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                            <input matInput [matDatepicker]="paymentReceivedOn" [(ngModel)]="element.paymentReceivedOn"
                              [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="paymentReceivedOn"></mat-datepicker-toggle>
                            <mat-datepicker #paymentReceivedOn></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- payment received through -->
                      <ng-container matColumnDef="paymentReceivedThrough">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Payment Received
                          Through *
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="element.paymentReceivedThrough"
                              [ngModelOptions]="{standalone: true}">
                              <mat-option>
                                <ngx-mat-select-search [formControl]="paymentReceivedThroughCtrl"
                                  [placeholderLabel]="'Find Payment Received Through...'"
                                  [noEntriesFoundLabel]="'No matching Payment Received Through found'">
                                </ngx-mat-select-search>
                              </mat-option>
                              <mat-option
                                *ngFor="let item of paymentReceivedThroughList | filterSelectInput:paymentReceivedThroughCtrl.value"
                                [value]="item.value" matTooltip="{{item.viewValue}}">
                                {{item.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- challan no -->
                      <ng-container matColumnDef="challanNo">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Challan No</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="element.challanNo" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- challan date -->
                      <ng-container matColumnDef="challanDate">
                        <th mat-header-cell *matHeaderCellDef scope="row" style="min-width: 100px;">Challan Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                            <input matInput [matDatepicker]="challanDate" [(ngModel)]="element.challanDate"
                              [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="challanDate"></mat-datepicker-toggle>
                            <mat-datepicker #challanDate></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- action -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'width':'4%'}">
                          Action</th>
                        <td mat-cell *matCellDef="let  element; let i=index">
                          <table class="iconTable" aria-describedby="actionBtn">
                            <tbody>
                              <tr>
                                <td width="30">
                                  <i class="material-icons  plus add" aria-hidden="true"
                                    *ngIf="(i  ==  dataSource.data.length -  1)" (click)="addColumn();">
                                    add
                                  </i>
                                </td>
                                <td width="30">
                                  <i class="material-icons plus delete" aria-hidden="true"
                                    *ngIf="(dataSource.data.length>  1)" (click)="deleteColumn(i)">
                                    delete
                                  </i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </ng-container>


                      <!-- Header Section Of table -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                      <!-- Data Fetch From .TS File to table -->
                      <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns1;"></tr>

                    </table>
                    <!-- table end -->
                  </div>



                </div>

              </div>
            </div>
            <!-- common action button -->
            <div class="form-action-button">

              <button mat-raised-button type="submit" (click)="directiveObject.workflowDetails()" class="green">
                <i class="material-icons" aria-hidden="true">
                  done
                </i> Submit</button>
              <button type="button" mat-raised-button color="accent" title="Reset" (click)="onReset()">
                <i class="material-icons" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>

              <button type="button" mat-raised-button (click)="goToListing()" color="warn" title="Listing">
                <i class="material-icons" aria-hidden="true" title="Listing">
                  list
                </i>
                Listing
              </button>

              <button type="button" mat-raised-button (click)="onCloseClaimEntry()" class="btnClose" title="Close">
                <i class="material-icons" aria-hidden="true" title="Close">
                  close
                </i>
                Close
              </button>

            </div>
            <!-- common action button end -->
          </form>
        </mat-tab>

        <!-- attachment tab -->
        <mat-tab label="Attachments">
          <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>

          <!-- action button -->
          <div class="form-action-button">

            <button type="submit" mat-raised-button color="primary">
              <i class="material-icons" aria-hidden="true" title="Upload">
                publish
              </i>
              Upload
            </button>

            <button type="button" mat-raised-button budget-list (click)="goToListing()" color="warn" title="Listing">
              <i class="material-icons" aria-hidden="true" title="Listing">
                list
              </i>
              Listing
            </button>

            <button type="button" mat-raised-button (click)="onClose()" class="btnClose" title="Close">
              <i class="material-icons" aria-hidden="true" title="Close">
                close
              </i>
              Close
            </button>

          </div>
          <!-- action button end -->

        </mat-tab>
        <!-- attachment tab end -->

      </mat-tab-group>

    </div>
  </div>
</div>